{% load static %}
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Deals of the Week</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore
						magna aliqua.</p>
				</div>
			</div>
		</div>
		<div class="row">
			{% for deal in deals %}

			<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
				<div class="single-related-product d-flex">
					<a href="#"><img src="{{ deal.featured_image.url}}" style="height:70px; width: 70px;" alt="{{deal.title|truncatechars:30}}"></a>
					<div class="desc">
						<a href="#" class="title">{{deal.title|truncatechars:30}}</a>
						<div class="price">
							<h6>{{deal.price}}</h6>

						</div>
					</div>
				</div>
			</div>

			{% endfor %}

		</div>
	</div>
</section>
<!-- End related-product Area -->