{% load static %}

<!-- start product Area -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h1>Latest Products</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore
                    magna aliqua.</p>
            </div>
        </div>
    </div>
    <div class="row border p-1">
        {% for product in products %}
        <!-- single product -->
        <div class="col-lg-3 col-md-6 ">
            <div class="single-product">
                <img class="img-fluid" src="{{product.featured_image.url}}" height="255px" width="255px" alt="">
                <div class="product-details">
                    <h6>{{product.title|truncatechars:120}}</h6>
                    <div class="price">
                        <h6>{{product.price}}</h6>
                        <h6 class="l-through">$210.00</h6>
                    </div>
                    <div class="prd-bottom">

                        <a href="" class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text">add to bag</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Wishlist</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-sync"></span>
                            <p class="hover-text">compare</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-move"></span>
                            <p class="hover-text">view more</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- end product Area -->