<div class="sidebar-categories">
    <div class="head">Browse Categories</div>
    <ul class="main-categories">
        {% for category in categories %}
        <li class="main-nav-list">
            <a href="{% url 'product-by-category' category.id %}" >
                <span class="lnr lnr-arrow-right"></span>{{ category.name }}<span class="number">({{ category.get_post_count }})</span>
            </a>
        </li>
        {% endfor %}
        <li class="main-nav-list">
            <a href="{% url 'all-categories' %}" >
                <span class="lnr lnr-arrow-right"></span>All Category <span class="number">({{ category.get_Product_count }})</span>
            </a>
        </li>
    </ul>
</div>
{% comment %} {{ category.get_product_count }} {% endcomment %}