<div class="common-filter">
    <div class="head">Color</div>
    <form action="#">
        <ul>
            <li class="filter-list"><input class="pixel-radio" type="radio" id="black"
                    name="color"><label for="black">Black<span>(29)</span></label></li>
            <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
                    name="color"><label for="balckleather">Black
                    Leather<span>(29)</span></label></li>
            <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred"
                    name="color"><label for="blackred">Black
                    with red<span>(19)</span></label></li>
            <li class="filter-list"><input class="pixel-radio" type="radio" id="gold"
                    name="color"><label for="gold">Gold<span>(19)</span></label></li>
            <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey"
                    name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
        </ul>
    </form>
</div>