<div class="sidebar-categories">
        <div class="head">Browse Tags</div>
        <ul class="main-categories">
            {% for tag in tags %}
            <li class="main-nav-list">
                <a href="{% url 'product-by-tag' tag.id %}" >
                    <span class="lnr lnr-arrow-right"></span>{{ tag.name }}<span class="number">(53)</span>
                </a>
            </li>
            {% endfor %}
            <li class="main-nav-list">
                <a href="{% url 'all-tags' %}" >
                    <span class="lnr lnr-arrow-right"></span>All Tags<span class="number">(53)</span>
                </a>
            </li>
        </ul>
    </div>
    