{% extends "base.html" %}
{% load static %}
{% block content %}




<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
{% include "product_detail/product_detail.html" %}
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->

{% include "product_detail/product _description.html" %}
<!--================End Product Description Area =================-->

<!-- Start related-product Area -->
{% include "home/deals.html" %}
<!-- End related-product Area -->
{% endblock %}